#Footer
{
    vertical-align: top;
    line-height: 80px;

    background-color: #cbcfd1;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#Footer a
{
    text-decoration: none;
    color: #a0a1a1;
    padding: 0 5px;
}