html, body
{
    height: 100%;
    width: 100%;
}

body
{
	font-family: Arial;
}

#body-wrapper
{
    min-height: 100%;
    position: relative;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

a
{
	text-decoration: none;
}

.clear
{
    clear: both;
}