<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        {% endblock title %}

        <link rel="stylesheet" href="{{ STATIC_URL }}styles/base/normalize.css"
            type="text/css" media="screen" />
        {% block styles %}
        {% endblock styles %}

        <script src="{{ STATIC_URL }}scripts/base/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}scripts/base/jquery-ui-1.10.1.min.js"></script>
        <script type="text/javascript">
            {% if json_vars %}
            var jsonVars = {{ json_vars|safe }};
            {% else %}
            var jsonVars = {};
            {% endif %}
        </script>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
    {% block scripts %}
    {% endblock scripts %}
</html>
