{% extends "page_base.html" %}

{% block body %}
{% if not user.is_authenticated %}
<p>You must be logged in to host an event.</p>
<p><a href="{% url 'login' %}">Log In</a></p>
<p><a href="{% url 'create_account' %}">Register</a></p>
{% endif %}
<form id="create-form">{% csrf_token %}
    <p><table>
        <tr>
            <td>Title:</td>
            <td><input id="event-title" type="text" /></td>
        </tr>
        <tr class="datetime">
            <td>Start Date:</td>
            <td><input id="start-date" type="text" />
                <input id="start-time" type="text" /></td>
        </tr>
        <tr class="datetime">
            <td>End Date:</td>
            <td><input id="end-date" type="text" />
                <input id="end-time" type="text" /></td>
        </tr>
        <tr>
            <td>Description:</td>
        </tr>
        <tr>
            <td><textarea id="event-desc"></textarea></td>
        </tr>
        <tr>
            <td>Thumbnail URL:</td>
            <td><input id="event-thumb" /></td>
    </table></p>
    <p><h4>Location</h4>
        <table>
            <tr>
                <td>Name:</td>
                <td><input id="addr-name" type="text" /></td>
            </tr>
            <tr>
                <td>Street Address:</td>
                <td><input id="event-street-addr" type="text" /></td>
            </tr>
            <tr>
                <td>City (optional):</td>
                <td><input id="event-city" type="text" /></td>
            </tr>
            <tr>
                <td>State (optional):</td>
                <td><input id="event-state" type="text" /></td>
            </tr>
            <tr>
                <td>ZIP Code (optional):</td>
                <td><input id="event-zip" type="text" /></td>
            </tr>
        </table>
    </p>
    <div id="event-invites">
        <div id="invite-list">
            <h4>Invitations</h4>
            <p>* Invitations can be sent via email or phone number<p>
            <p><input type="text" /></p>
            <p><input type="text" /></p>
            <p><input type="text" /></p>
        </div>
        <input type="button" id="add-invite" value="Add Invitations" />
    </div>
    <p><input type="button" id="event-submit" value="Create Event" /></p>
    <div class="notify"></div>
</form>
{% endblock body %}

{% block scripts %}
<script src="{{ STATIC_URL }}scripts/events/create_event.js"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/events/create_event.css"
    type="text/css" media="screen" />
{% endblock styles %}