{% extends "page_base.html" %}
{% load humanize %}

{% block body %}
{% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            window.scrollTo(0, $('.eventInfo').offset().top - 3)
        })
    </script>
    <div class="eventInfoContainer">
        <div class="eventInfoPadding">
            <div class="eventInfo">
                <table style="width:100%">
                    <tr>
                        <td>
                            <div class="eventTitleDescription">
                                <div class="eventTitle">{{ event.title }}</div>
                                <div class="eventDescription">{{ event.description }}</div>
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                            <div class="right">
                                <div class="eventDate">
                                    <div class="startWeekday">{{ event.start_date|date:'l'|lower }}</div>
                                    <div class="startDate">{{ event.start_date|date:'n/j/y' }}</div>
                                </div>
                                <div class="eventTime">
                                    <div class="startTime">{{ event.start_date|date:'g:ia' }}</div>
                                    {% if event.end_date %}
                                    <div class="endTime">{{ event.end_date|date:'g:ia' }}</div>
                                    {% endif %}
                                </div>
                                <div class="eventRsvp">
                                    {% if invite %}
                                        <select id="status-select" class="rsvp{{ event.rsvp_status|capfirst }}">
                                        {% with status=invite.status %}
                                        {% if status == 0 %}
                                            <option value="0" {% if status == 0 %}selected{% endif %}>?</option>
                                        {% endif %}
                                        <option value="1" {% if status == 1 %}selected{% endif %}>Not Going</option>
                                        <option value="2" {% if status == 2 %}selected{% endif %}>Going</option>
                                        {% endwith %}
                                    {% else %}
                                    <div class="rsvpHost">Hosting</div>
                                    {% endif %}
                                </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="clear addressCenter">
                                <div class="addressContainer">
                                    <a href="http://maps.google.com/?q={{ event.location.name }} {{ event.location.get_address }}">
                                        <span class="name">{{ event.location.name }}</span>
                                        <span class="address">{{ event.location.street_addr }}, {{ event.location.city }}</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="clear"></p>
            </div>
        </div>
        <div class="eventImage" style="background-image:url('{{ event.thumbnail }}')"></div>
    </div>

    <div class="section discussionSection">
        <div class="sectionTitle">vote</div>
        <div class="sectionContent">
        </div>
    </div>

    <div class="section discussionSection">
        <div class="sectionTitle">discuss</div>
        <div class="sectionContent">
            {% for messageCluster in messageGroup %}
                {% for message in messageCluster %}
                    <div class="message">
                        <div class="left userAvatar"></div>
                        <div class="body">
                            <div class="info">
                                <a class="left userName" href="#">{{ message.owner.get_short_name }}</a>
                                <div class="right postDate">{{ message.created_date|naturalday:'n/j/y'|capfirst }} {{ message.created_date|date:'ga' }}</div>
                                <p class="clear"></p>
                            </div>
                            <div class="content">
                                {{ message.message }}
                            </div>
                        </div>
                        <p class="clear"></p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- <div id="map_canvas" sty;e="width:100%; height:100%;"></div> -->


    {% if content %}
        <b>Content</b><br>
        {% for x in content %}
            {{x}}
            {{x.owner}} uploaded: {{x.title}} <br>
            {{x.url}}  <br><br>
        {% endfor %}
    {% endif %}


    {% if messages %}
        <b>Chatter</b><br>
        {% for x in messages %}
            {{x.conversation.title}}     {{x.owner}} said: {{x.message}} <br>
        {% endfor %}
    {% endif %}


    <br><br><br>
    {% if messageGroup %}
        <b>Grouped Version</b><br><br>
        {% for x in messageGroup %}
            {% for y in x %}
                {{y.message}} <br>
            {% endfor %}
            <p>======================================</p>
        {% endfor %}
    {% endif %}

{% endblock body %}

{% block scripts %}
<script src="{{ STATIC_URL }}scripts/events/event.js" type="text/javascript"></script>
{% endblock scripts %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/events/event.css"
    type="text/css" media="screen" />
{% endblock styles %}
