{% extends "page_base.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/events/list.css"
            type="text/css" media="screen" />
{% endblock styles %}

{% block body %}
	<div id="EventList">
		<div class="listHeader">
			<div class="title left">Events</div>
			<div class="filter right">
				<a class="button selected" href="#">upcoming</a>
				<a class="button" href="#">past</a>
				<a class="button" href="#">hosting</a>
			</div>
		</div>
		<div class="listResults">
			{% for weekGroup in weekGroups %}
				<div class="weekGroup">
					<div class="weekHeader">
						<div class="left weekTitle">{{ weekGroup.title }}</div>
						<div class="right weekDate">{{ weekGroup.date|date:"n/j/y" }}</div>
						<div style="clear:both;"></div>
					</div>
                    {% for dayGroup in weekGroup.dayGroups %}
    					<div class="dayGroup">
    						<div class="dayTitle">{{ dayGroup.day }}</div>
                            {% for hourGroup in dayGroup.hourGroups %}
        						<div class="hourGroup">
        							<div class="left hourTitle" style="display: inline-block">8a</div>
                                        {% for event in hourGroup.events %}
                                            <div class="eventContainer">
                								<div class="event rsvpYes notificationCountEmpty">
                									<div class="eventRsvp"></div>
                									<div class="left eventImage">
                										<ing src=""/>
                									</div>
                									<div class="eventBody"><!--
                										--><div class="eventTitle">{{ event.title }}</div><!--
                										--><div class="eventDescription">{{ event.description }}</div>
                										<div class="notificationCount">3</div>
                									</div>
                                                </div>
                							</div>
                                        {% endfor %}
        						</div>
                            {% endfor %}
    					</div>
                    {% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
    <a class="addEventBlock" href="/events/create/">
        <span class="icon">+</span>
        <span class="title">Add Your Event</span>
    </a>
{% endblock body %}