{% extends "page_base.html" %}

{% block body %}
<div style="overflow-x: scroll; white-space:nowrap;">
    this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text this is dummy text 
</div>
YOLO SWAG
{% endblock body %}